%h2 Latest Questions

.questions
  - @questions.each do |question|
    = render partial: "questions/question", locals: {question: question}


    - if @question.answers.permitted.present?
      .question-answers
        - question.answers.permitted.each do |answer|
          = render partial: "answers/answer", locals: {answer: answer}